body {
    background-color: #f2f2f2;
    color: black;
}

::selection {
    color: white;
    background: #C984FE;
}

::-webkit-scrollbar {
    width: 9px;
    height: 9px;

    background-color: #676767;
}

body::-webkit-scrollbar-thumb {
    background: rgb(201, 132, 254);
    background: linear-gradient(142deg, rgba(201, 132, 254, 1) 0%, rgba(123, 137, 253, 1) 96%);

    height: 120px;
}


/*.App {
    text-align: center
}*/

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    max-width: 100%;
    table-layout: fixed ;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    max-width: 20%;
}

.session {
    text-align: left;
    line-height: 1em;
    margin: 2% 2% 2% 2%;

    padding: 1%;
    background: rgb(135, 72, 179);
    color: white;
    border-radius: 5px;
}

.sessionTable {
    width: 100%;
    text-align: center;
}

#all-days {
    /*margin: 0 20% 0 20%;*/
    /*text-align: left;*/
    text-align: center;
}

#all-days ul {
    list-style: none;
}

.day-display {
    transition: visibility 1s, opacity 1s linear;

    margin-left: 10%;

    width: 80%;
}

.day-display-btn {
    text-align: center;
    background: #c984fe;
    color: white;
    border: none;
    border-radius: 2px;
    padding: 10px;
    margin-top: 2%;
    width: 25%;

    transition: background-color 0.5s;
}

.day-display-btn:hover {
    background: #9262b8;
    cursor: pointer;

    transition: background-color 0.5s;
}

#Monday {
    visibility: hidden;
    display: none;
}

#Tuesday {
    visibility: hidden;
    display: none;
}

#Wednesday {
    visibility: hidden;
    display: none;
}

#Thursday {
    visibility: hidden;
    display: none;
}

#author-search {
    margin: 5% 25% 0 25%;
    text-align: center;

    background: rgb(152, 91, 203);
    color: white;

    min-height: 550px;

    border-radius: 5px;
    padding: 0.1% 2% 2% 2%;
}

#author-search h2 {
    font-size: 2em;
}

#author-buttons {
    margin-top: 5%;
}

#author-buttons button {
    background-color: #FFFFFF;
    border: none;
    border-radius: 2px;
    padding: 1% 2% 1% 2%;
}

#author-buttons button:hover {
    cursor: pointer;
}

.author-name {
    cursor: pointer;
}

#page-indicator {
    padding: 0 2% 0 2%;
}

/* Author Modal Content */
.modal {
    display: block;
    position: fixed;
    z-index: 1;
    padding-top: 100px;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
}

.modal-content {
    background: rgb(100, 43, 109);
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    border-radius: 5px;
    width: 60%;
}

.model-content-text {
    margin-left: 9%;
    width: 80%;
}

.close {
    color: #FFFFFF;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover, .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.expanded-day-header:hover {
    cursor: pointer;
}

.session-info-expander:hover {
    cursor: pointer;
}

hr {
    background: #dddddd;
    border: 2px solid;
    border-radius: 2px;
}

#admin-title {
    margin: 2% 46% 1% 46%;
    font-size: 3em;
}

#logout-btn {
    background-color: #282c34;
    border: none;
    border-radius: 5px;
    color: white;

    width: 20%;
    padding: 15px;
    margin: 0 40% 0.5% 40%;

    transition: background-color 1s;
}

#logout-btn:hover {
    background-color: #14161a;
    cursor: pointer;

    transition: background-color 1s;
}

#session-names-collection {
    margin-left: 28%;
    width: 50%;
}

.session-name-box {
    padding: 15px;
    width: 40%;
    height: 50px;
    margin: 0 22% 0 22%;

    border: 1px solid #888888;
    border-radius: 5px;
}

#session-buttons {
    margin: 0 28% 0 28%;
}

#session-buttons button {
    background-color: #FFFFFF;
    border: none;
    border-radius: 2px;
    padding: 10px 20px 10px 20px;
}

#session-buttons button:hover {
    cursor: pointer;
    background-color: #d4d4d4;
}

#update-btn {
    border: none;
    border-radius: 2px;
    background-color: #6600cc;
    color: white;

    padding: 10px;
    width: 20%;

    margin: 0 33% 4% 33%;

    transition: background-color 0.5s;
}

#update-btn:hover {
    background-color: #771ed0;
    cursor: pointer;

    transition: background-color 0.5s;
}

#login-area {
    text-align: center;
}

#login-area * {
    margin-left: 10px;
}

#login-area input {
    border: none;
    border-radius: 5px;
    padding: 10px;
}

#login-area button {
    background-color: #6600cc;
    color: white;

    border: none;
    border-radius: 5px;
    padding: 5px 10px 5px 10px;
}

#login-area button:hover {
    cursor: pointer;
}